In [7]:
import pandas as pd
import csv
import os
from sqlalchemy import create_engine

In [181]:
path = os.path.join("Traffic_Counts .csv")
tracounts = pd.read_csv(path, header=[3], encoding='utf-8', delimiter=",")
tracounts = tracounts.set_index('UnitCode')
tracounts = tracounts[['ParkName', 'ParkType', 'Region', 'Year', 'Month','TrafficCount', 'TrafficCountTotal.1']]
tracounts.head()

,ParkName,ParkType,Region,Year,Month,TrafficCount,TrafficCountTotal.1
UnitCode,,,,,,,
ACAD,Acadia NP,National Park,Northeast,2019,1,"1,620","361,493"
ACAD,Acadia NP,National Park,Northeast,2019,2,"1,876","361,493"
ACAD,Acadia NP,National Park,Northeast,2019,3,"3,673","361,493"
ACAD,Acadia NP,National Park,Northeast,2019,4,"8,625","361,493"
ACAD,Acadia NP,National Park,Northeast,2019,5,"25,714","361,493"

In [24]:
tracounts.columns

Index(['ParkName', 'ParkType', 'Region', 'TrafficCounter', 'Year', 'Month',
       'TrafficCount', 'ParkNameTotal', 'UnitCodeTotal', 'ParkTypeTotal',
       'RegionType', 'TrafficCountTotal', 'YearTotal', 'TrafficCountTotal.1'],
      dtype='object')

In [178]:
path = os.path.join("nps_acre.csv")
nps_acre = pd.read_csv(path, header=[1], encoding='utf-8', delimiter=",")
nps_acre = nps_acre[['Area Name', 'Region', 'State', 'NPS Fee Acres', 
                    'NPS Less Than Fee Acres', 'Other Federal Fee Acres', 'Subtotal Federal Acres']]
nps_acre = nps_acre.sort_values(by='Region').dropna()
# nps_acre_split_val = nps_acre['Area Name'].str.split(f" ", n=-1, expand=False)

# nps_acre_split_val
# nps_acre_split_val
nps_acre

,Area Name,Region,State,NPS Fee Acres,NPS Less Than Fee Acres,Other Federal Fee Acres,Subtotal Federal Acres
0,A LINCOLN BIRTHPL NHP,1,KY,344.50,0.00,0.00,344.50
128,FREDERICK DOUGLASS NHS,1,DC,8.57,0.00,0.00,8.57
129,FREDERICK LAW OLMSTED NHS,1,MA,7.06,0.15,0.00,7.21
130,FRED-SPOTS MEM NMP,1,VA,"7,481.72",85.69,0.00,"7,567.41"
132,FRIENDSHIP HILL NHS,1,PA,661.44,0.00,0.00,661.44
...,...,...,...,...,...,...,...
296,NORTH CASCADES NP,9,WA,"504,654.18",0.00,0.00,"504,654.18"
153,FT VANCOUVER NHS,9,WA,164.70,0.63,32.08,197.41
301,OREGON CAVES NM & PRES,9,OR,"4,554.03",0.00,0.00,"4,554.03"
91,CRATER LAKE NP,"9, 10",OR,"183,223.77",0.00,0.00,"183,223.77"
230,KLONDIKE GOLD RUSH NHP,"9, 11",AK-WA,"3,420.00",0.00,0.00,"3,420.00"

In [182]:
nps_acre.columns

Index(['Area Name', 'Region', 'State', 'NPS Fee Acres',
       'NPS Less Than Fee Acres', 'Other Federal Fee Acres',
       'Subtotal Federal Acres'],
      dtype='object')